<template>
  <div>
    <!-- Page Content -->
    <div class="content">
      <!-- Hero -->
      <base-background image="/img/photos/photo33@2x.jpg" inner-class="bg-white-90">
        <base-block rounded content-full transparent>
          <div class="py-4 text-center">
            <h1 class="mb-2">
              Dashboard
            </h1>
            <h2 class="h4 font-w400 text-muted mb-0">
              Welcome to your app, everything looks great!
            </h2>
          </div>
        </base-block>
      </base-background>
      <!-- END Hero -->

      <!-- Dummy content -->
      <b-row>
        <b-col sm="4">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="4">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="4">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="12">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="6">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="6">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="12">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
      </b-row>
      <!-- END Dummy content -->
    </div>
    <!-- END Page Content -->
  </div>
</template>
