<template>
  <div>
    <!-- Hero -->
    <base-background image="/img/photos/photo33@2x.jpg" inner-class="bg-white-90">
      <div class="content content-full">
        <div class="py-3 text-center">
          <h1 class="mb-2">
            Dashboard
          </h1>
          <h2 class="h4 font-w400 text-muted mb-0">
            Welcome to your app, everything looks great!
          </h2>
        </div>
      </div>
    </base-background>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
      <!-- Dummy content -->
      <b-row>
        <b-col sm="4">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="4">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="4">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="12">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="6">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="6">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
        <b-col sm="12">
          <base-block rounded>
            <p class="text-center py-6">...</p>
          </base-block>
        </b-col>
      </b-row>
      <!-- END Dummy content -->
    </div>
    <!-- END Page Content -->
  </div>
</template>
